a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #2F2F2F;
    color: #E6E6E6
}

btn {
    cursor: pointer;
}

/* STOCKPILE */
.stockpileItemList {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.stockpileItemSublist {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 3px solid #272626;
}
.stockpileItemBox {
    width: 100px;
    height: 185px;
    border: 5px solid rgb(78, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stockpileItemImg {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.stockpileItemText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stockpileItemTitle {
    margin-right: 0px;
    margin-left: 10px;
}
.stockpileItemNumberBar {
    border-top: 2px solid #272626;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    font-weight: 900;
    font-size: 24px;
}



/* STOCKPILE USEFULL */
.borderCritical {
    border: 5px solid rgb(78, 18, 18);
}
.borderLow {
    border: 5px solid rgb(179, 43, 43);
}
.borderNotFull {
    border: 5px solid rgb(219, 207, 35);
}
.borderFull {
    border: 5px solid rgb(45, 241, 55);
}
.borderOverfilled {
    border: 5px solid rgb(1, 156, 14);
}
