<div class="stockpileItemList">
    <div class="stockpileItemSublist">
        {{range .ItemBoxList01}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList02}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList03}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList04}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList05}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList06}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList07}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList08}}
        {{.}}
        {{end}}
    </div>
</div>