<div class="stockpileSortingMenu">
    <div class="stockpileSortingItem">
        <a href="/stockpile">All</a>
    </div>
    <div class="stockpileSortingItem">
        <a href="/stockpile?sorting=bMatsOnly">Only bMats</a>
    </div>
    <div class="stockpileSortingItem">
        <a href="/stockpile?sorting=rMats">rMats</a>
    </div>
    <div class="stockpileSortingItem">
        <a href="/stockpile?sorting=eMats">eMats</a>
    </div>
</div>
<div class="stockpileItemList">
    <div class="stockpileItemSublist">
        {{range .ItemBoxList01}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList02}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList03}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList04}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList05}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList06}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList07}}
        {{.}}
        {{end}}
    </div>
    <div class="stockpileItemSublist">
        {{range .ItemBoxList08}}
        {{.}}
        {{end}}
    </div>
</div>